#title {
  font-weight: bolder;
}

form {
    background: black;
    padding: 1rem 6rem 3rem;
    border-radius: 5rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    max-width: auto;
    margin: auto;
}

.clue {
  font-style: italic;
}

.form-group {
  color: white;
}

#dropdown {
  cursor: pointer;
}

#most-like {
  cursor: pointer;
}

.input-checkbox {
  cursor: pointer;
}

#submit {
  cursor: pointer;
}

.input-radio {
  cursor: pointer;
}

#email-label {
  font-style: strong;
}

#email {
  padding-left: 10px;
  margin-left: 35px;
}

#name {
  padding-left: 10px;
  margin-left: 32px;
 
}

#number {
  margin-left: 35px;
}

textarea {
  height: 1.0em;
  width: 20em;
}


